* {
          margin: o;
          padding: 0;
          box-sizing: border-box;
      }
      
      body {
          font-family: 'poppings', sans-serif;
          margin: 0;
          padding: 0;
      }


:root {
    --primary-color: tomato;
}
.backdrop{
    width: 100%;
    height: 100%;
    background: transparent;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
}
.backdrop-show{
    display: block;
    position: absolute;
}
header {

    min-height: 600px;
   background-image: url(header.jpg);
   background-position: center;
   background-size: cover;
   width: 100%;
   background-repeat: no-repeat;
}
.moblie{
    display: none;
    justify-content: space-between;
    background: tomato;
    padding: 0 10px;
    align-items: center;

}
.mobile-link{
    display: block;
    position: fixed;
    width: 100%;
    background: tomato;
    margin: 0;
    padding: 0;
    transform: translateY(-500%);
    transition: 0.7s ease-in;
    transition: 0.7s ease-in-out;
}
.show-link{
    transform: translateY(0);
}
.link{
    display: block;
    width: 100%;
    color: #fff;
  
    text-align: left;
    margin-top: 100px;
    margin: 0;
}
.link li{
    padding: 10px;
    font-size: x-large;
    font-size: larger;
    font-weight: bolder;
    margin-top: 10px ;
}
.link li:hover{
    background: white;
    color: tomato;
}
.mobile-logo{
    margin: 0;
    padding: 0;
}
.mobile-logo a{
    text-decoration: none;
    color: #fff;
    font-weight: bolder;
    font-size: xx-large;
}
.hamburger{
    height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu{
    height: 3px;
    background: white;
    width: 100%;
    position: relative;
}
.menu::before{
    content: "";
    width: 100%;
    height: 3px;
    background: white;
    position: absolute;
    transform: translateY(-10px)

}
.menu::after{
    content: "";
    width: 100%;
    height: 3px;
    background:white;
    position: absolute;
    transform: translateY(10px)
}
.show .menu{
background: transparent;
}
.show .menu::before{
    transform:  translateY(0) rotate(45deg);
}
.show .menu::after{
    transform:  translateY(0)rotate(-45deg);
}
.desktop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    text-transform: uppercase;

}


.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;    
    margin: 0 10px;
}
nav ul{
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    
}
nav ul li{
    color: white;
    font-size: x-large;
    font-weight: bolder;
    list-style: none;
    word-spacing: 60px;
    margin-right: 90px;
    cursor: pointer;
    padding: 10px;
}
nav ul li:hover{
    color: tomato;
    background: white;
 }
.content{
    margin: 30px 0;
    width: 40%;
    float: right;
    
   
}
.content h1{
    color: white;
    margin-top: 20px;
    word-spacing: 10px;
}
.content p{
    color: #fff;
    margin-top: 50px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: larger;

    padding: 10px;
    width: 70%;
    margin-top: 15px;
}
.btn{
    display: inline-block;
    background:var(--primary-color);
    color: white;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    transition: background 0.5s;
    font-size: large;
    font-style: bold;
    text-decoration: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #fff;
    color: orangered;
}
.header-icons{
    margin-left: 10px;
}
.small-container{
    
    padding: 50px 25px;
    width: 100%;
}
.row{
          display: flex;
        
        margin: 20px 0;
          width: 100%;
          align-items: center;
          flex-wrap: wrap;
          justify-content: space-around;
}
.col-2{
          flex-basis: 30%;
           padding: 50px 30px;
           margin: 30px 0;
          min-width: 300px;
          background:var(--primary-color);
          border-radius: 20px;
          box-shadow:0 0 20px 0 rgb(141, 136, 136);
          cursor: pointer;
          transition: ease-in-out 0.8s;

        
}
.col-2 h1{
    color: white;
}
.col-2:hover h1{
    color: black;
}
.col-2 h2{
          color: white;
}
.col-2 p{
          color: white;
}
.col-2:hover{
    background-color: #fff;
}
.col-2:hover p{
    color: black;
}
.col-2:hover h2{
    color: black;
}
.step{
    padding: 5px 10px;
    display: flex;
    margin: 0;
    background:var(--primary-color);
    width: 100%;
    justify-content: space-between;
    align-items: center;
   
}
.step h3{
    color: white;
    font-size: x-large;
    margin-left: 20px;

}
.btn2 {
    background: white;
    color: orangered;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 20px;
    transition: background 0.5s;
    font-size: x-large;
    font-style: bold;
    text-decoration: none;
    cursor: pointer;
}

.btn2:hover {
    background: #563434;
    color: #fff;
}
.btn2{
    float: right;
}
.btn3{
    /* display: inline-block; */
    background: white;
    color: orangered;
    padding: 15px 20px;
    margin-top: 10px;
    border-radius: 10px;
    transition: background 0.5s;
    text-decoration: none;
}
.btn3:hover{
    background: #563434;
    color: white;
}
.footer{
    width: 100%;
    padding: 5px;
    background: black;
}
.footer p{
    color: white;
    font-size: 200%;
    margin-left: 20px;
}

.footericons{
    font-size: 30px;
    color: white;
 }


#foot{
    color: #fff;
    margin-top: -70px;
    float: right;
    font-size: xx-large;
    margin-right: 90px;
    cursor: pointer;
}


